{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  href="{% static 'css/st.css' %}">
    <title>
        {% block title %}
            Blog
        {% endblock %}
    </title>
</head>
<body>
    <header class="header">
        <nav class="nav">
              <a class="nav__link" href="{% url 'posts_list_url' %}">Blog</a>
              <a class="nav__link" href="{% url 'tags_list_url' %}">Tags</a>
              <a class="nav__link" href="">link3</a>
         </nav>
    </header>

{% block content %}
    There's no content
{% endblock %}

{% block admin-panel %}
    <div class="admin-panel">
        <a href="/admin">Admin</a>
        <button><a href="{% url 'post_create_url' %}">Create post</a></button>
        <button><a href="{% url 'tag_create_url' %}">Create tag</a></button>
    </div>
{% endblock %}
</body>
</html>