<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet"  href="{% static 'blog/styles.css' %}">
    <title>
        {% block title %}
            Blog
        {% endblock %}
    </title>
</head>
<body>
    <header class="header">
        <nav class="nav">
              <a class="nav__link" href="{% url 'posts_list_url' %}">Blog</a>
              <a class="nav__link" href="{% url 'tags_list_url' %}">Tags</a>
              <a class="nav__link" href="">link3</a>
         </nav>
    </header>

{% block content %}
    There's no content
{% endblock %}

</body>
</html>